body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}


img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
   margin-left: 4rem;
    
  
}
form{
    border: .1px solid rgb(234, 232, 228);
    box-shadow: .3px 0.2px .2px 1px rgb(248, 249, 249);
    padding: 10px;
    border-radius: 10px;
    margin-top: 18rem;
    margin-bottom: 2rem;

}

.form-group{
    padding: 10px;
    margin: 10px;
   
    
}
.check-box{
    
   
    display:flex;
   
}
input{
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #cccccc;
}
label{
    display: block;
}
button{
    display: block;

}
#btn{
    padding: 10px;
    width: 100%;
    border: none;
    background-color: green;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.btn{
    padding: 10px;
    width: 100%;
    background-color: tomato;
    border: none;
    color: white;
    border-radius: 10px;
    margin-top: 1rem;
    cursor: pointer;
}
.radio-box{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.radio{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
p{
   text-align: center;
   font-weight: bold;

}
.box{
    background-color: rgb(237, 235, 231);
    border-radius: 10px;
    padding: 10px;
}
.anch{
    padding-left: 1rem;
}


